<p><b>Users Data display below</b></p>

  <button class="emp" (click)="showData()">Employee Data</button>

  

<form [formGroup]="addUser" (ngSubmit)="isUpdate ? updateData() : addData()">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Users</h4>
          </div>

          <div class="modal-body">
            <div class="mb-3 mt-3">
              <label for="name">FirstName</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter firstName" name="firstName">

            </div>

            <div class="mb-3 mt-3">
                <label for="name">LastName</label>
                <input type="text" #lastName class="form-control" id="lastName" formControlName="lastName" placeholder="Enter lastName"
                  name="lastName">
              </div>

            <div class="mb-3 mt-3">
              <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter email"
                name="email">
            </div>



            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeModal()">
                  Close
                </button>
              </div>

          </div>
        </div>
      </div>
    </div>
  </form>




  <div class="container">
    <button class="add-data" (click)="openPopup()">
        <span>Add User</span>
      </button>

    <table class="table w-50" id="employeedataTable">
        <thead>
            <tr>
                <th>id</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let emp of empData" >
                <td>{{emp._id}}</td>
                <td>{{emp.firstName}}</td>
                <td>{{emp.lastName}}</td>
                <td>{{emp.email}}</td>

                <td class="btn-group m-2" role="group">
                  <button class="btn btn-sm edit-btn group" (click)="updateView(emp)">Edit</button>
                  <button class="btn danger btn-sm group" (click)="delUser(emp._id)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
  </div>
